.hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 104px;

  @media screen and (min-width: 768px) {
    padding-top: 378px;
    padding-bottom: 378px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 272px;
    padding-bottom: 270px;
  }
}

.hero_title {
  max-width: 241px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 135%; /* 54/40 */
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    max-width: 523px;
    font-size: 55px;
    line-height: 136.363636%; /* 75/55 */
  }

  @media screen and (min-width: 1360px) {
    font-size: 55px;
    line-height: 136.363636%; /* 75/55 */
  }
}

.hero_text {
  margin-top: 16px;
  max-width: 280px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 123.076923%; /* 32/26 */
  text-align: center;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    max-width: 523px;
    font-size: 40px;
    line-height: 120%; /* 48/40 */
  }

  @media screen and (min-width: 1360px) {
    max-width: 799px;
    font-size: 40px;
    line-height: 135%; /* 54/40 */
  }
}

.hero_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 175px;
  height: 57px;
  background: $greenColor;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138.888889%; /* 25/18 */
  text-align: center;
  color: #ffffff;
  &:hover {
    background-color: #2ebf4f;
    transition: all 0.1s ease-in-out;
  }
}

.hero_btn::before {
  content: '';
  background-image: url('../images/items/arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 9px;
  height: 18px;
  margin-right: 8px;
}
