<section class="blog_post">
  <div class="blog_post_container">
    <div class="blog_post_wrapper">
      <p class="blog_post_text">April 16 2020</p>
      <h2 class="blog_post_title">Blog Post One</h2>
      <p class="blog_post_description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blog_post_btn" type="button">Read Our Blog</button>
    </div>
    <div class="blog_post_img"></div>
  </div>
</section>
