<section class="callback">
  <div class="callback_container">
    <div class="callback_img"></div>
    <div class="callback_wrapper">
      <h2 class="callback_title">Request Callback</h2>
      <form
        class="contact_form"
        name="contact"
        netlify
        netlify-honeypot="bot-field"
      >
        <div class="input_name_wrapp">
          <input
            class="input_name"
            placeholder="Enter your name"
            type="text"
            name="name"
          />
          <div class="form_name_error_wrapp">
            <svg width="16" height="15" class="icon icon-4">
              <use href="./images/form/worning.svg#worn"></use>
            </svg>
            <p class="form_error">This is a required field</p>
          </div>
        </div>

        <div class="input_email_wrapp">
          <input
            class="input_email"
            placeholder="Enter email*"
            type="email"
            name="email"
          />
          <div class="form_email_error_wrapp">
            <svg width="16" height="15" class="icon icon-4">
              <use href="./images/form/worning.svg#worn"></use>
            </svg>
            <p class="form_error">This is a required field</p>
          </div>
        </div>

        <button type="submit" class="form_btn">Send</button>
      </form>
    </div>
  </div>
</section>
