<header class="header">
  <div id="home" class="container">
    <div class="header_wrapp">
      <div class="header_logo-wrapp">
        <img src="./images/header/logo.png" alt="logo" />
        <p class="header_logo-text">Finance<span>Ledger</span></p>
      </div>
      <nav>
        <ul class="header_list">
          <li class="header_item">
            <a class="header_link" href="#home">Home</a>
          </li>
          <li class="header_item">
            <a class="header_link" href="#about">About</a>
          </li>
          <li class="header_item">
            <a class="header_link" href="#cases">Cases</a>
          </li>
          <li class="header_item">
            <a class="header_link" href="#blog">Blog</a>
          </li>
          <li class="header_item">
            <a class="header_link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
