<section class="hero">
  <header class="header">
    <div class="container">
      <div class="header_wrapp">
        <div class="header_logo-wrapp">
          <img src="./images/header/logo.png" alt="logo" />
          <p class="header_logo-text">Finance<span>Ledger</span></p>
        </div>
        <nav>
          <ul class="header_list">
            <li class="header_item">
              <a class="header_link" href="#">Home</a>
            </li>
            <li class="header_item">
              <a class="header_link" href="#">About</a>
            </li>
            <li class="header_item">
              <a class="header_link" href="#">Cases</a>
            </li>
            <li class="header_item">
              <a class="header_link" href="#">Blog</a>
            </li>
            <li class="header_item">
              <a class="header_link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <h1 class="hero_title">The Sky Is The Limit</h1>
  <p class="hero_text">We provide world class financial assistance</p>
  <button class="hero_btn" type="button">Read More</button>
</section>
